.footerLayout {
  background: #303030;
  max-height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}

.menuContainer {
  background: #303030;

  color: white;
  display: flex;
}

.menuItem {
  color: white;
  background: #303030;
}
